<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Cloud Provider</title>
    
  </head>
  <body>
    <section class="section-heading">
      <div class="container">
        <!-- <div class="text-content"> -->
        <h1>Welcome to our Cloud Hosting Platform</h1>
        <p>Your Ideas, Our Platform: Infinite Possibilities…</p>

        <form action= "/apps" class="input-form" method="POST">
          <label id="name" class="label-input">Github Repositiry:</label>
          <input for="name" type="text" class="input-field" name="githubLink" />
          <br /><br />

         <button type="submit" class="input-form">Submit</button>
        </form>
        <!-- </div> -->
        <!-- <div class="img-box"> -->
        <!-- <img
            src="imgs/growtika-wlQUkvDhvQw-unsplash.jpg"
            alt="A man tapping on laptop"
            class="img"
          /> -->
        <!-- </div> -->
      </div>
    </section>
  </body>
</html>


